*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  margin-bottom: 20px;
  text-align: center;
}

ul {
  list-style: none;
}

#sehirler {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

#sehirler li {
  border: 1px solid black;
  padding: 20px 20px;
}

#yemekler {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

#yemekler li {
  border: 1px solid black;
  padding: 20px 20px;
}

#yerler {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

#yerler li {
  border: 1px solid black;
  padding: 20px 20px;
}

#tekSayilar {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

#tekSayilar li {
  border: 1px solid black;
  padding: 20px 20px;
}

#ciftSayilar {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

#ciftSayilar li {
  border: 1px solid black;
  padding: 20px 20px;
}
